<br><br><br>
<div class="container">
  <div class="row">
      <img src="assets/img/about.png" class="img-fluid" alt="Responsive image">
      <br><br>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, totam explicabo eius aliquam
         accusantium neque eaque magnam ea, magni quisquam dicta eveniet molestias voluptatibus dignissimos quasi? 
         Perspiciatis corrupti exercitationem assumenda!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum fugiat beatae iusto nam voluptate exercitationem 
        dicta nobis optio, veritatis perferendis unde eum! Illum doloremque numquam aspernatur recusandae doloribus, 
        necessitatibus alias?
      </p>
      <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, totam explicabo eius aliquam
           accusantium neque eaque magnam ea, magni quisquam dicta eveniet molestias voluptatibus dignissimos quasi? 
           Perspiciatis corrupti exercitationem assumenda!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum fugiat beatae iusto nam voluptate exercitationem 
          dicta nobis optio, veritatis perferendis unde eum! Illum doloremque numquam aspernatur recusandae doloribus, 
          necessitatibus alias?
        </p>
  </div>
</div>