<br><br><br>
<div class="container">
  <div class="row">
      <div class="card-group">
          <div *ngFor="let res of resume" class="col-md-8 col-sm-12 col-xs-12">
            <img class="card-img-top" src="{{res.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{res.title}}</h5>
              <p class="card-text">{{res.description}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <br>
          
        </div>
  </div>
</div>