<br><br><br>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-md-9 col-sm-12">
      <ol class="jumbotron">
        <h1>Theme pertama </h1>
        <p>Ini adalah tema aplikasi pertama angular saya</p>
      </ol>
      <div class="row">
          <div *ngFor="let post of posts" class="col-xs-6 col-lg-4">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
          </div>
 
        </div><!--/row-->
    </div>

    <div class="col-xs-12 col-md-3 col-sm-12">
        <app-categories-menu></app-categories-menu>
    </div>
  </div>
</div>

